.container {
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.btn{
    color: white;
}
.navbar{
    font-size: large;
    font-weight: bold;
}

@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 2000px;
}
}