.container {
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.btn{
    color: white;
}
.navbar{
    font-size: large;
    font-weight: bold;
}